* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", serif;
}
/* Index start*/
.hero {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/italian\ banner.avif);
    background-size: cover;
    background-position: center;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
}

.logo{
    color: #FFFFEC;
    font-size: 30px;
}
span{
    color: #FFB22C;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a{
    color: #FFFFEC;
    text-decoration: none;
    font-weight: bold;
    
}
nav ul li a:hover{
    color: #FFB22C;
    transition: 1.2s;
}

.links{
    display: flex;
    flex-wrap: wrap;
}
@media all and (max-width:620px) {
    .links{
        flex-wrap: nowrap;
    }
}
@media all and (max-width:460px) {
    .links{
        flex-wrap: wrap;
        justify-content: flex-end;
    }
}

.banner-heading{
    display: flex;
    justify-content: center;
    margin-top: 35vh;
}
.banner-heading > h1{
    font-size: 85px;
    color: #FFFFEC;

}

.banner-heading > h1:hover{
    color: #FFB22C;
    transition: 1s;
}

.index-mid{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    background-color: #FFFFEC;
    flex-direction: column;
    margin-bottom: 0px;
}
#index-mid-heading{
    color: #FFB22C;
    font-family:"Lobster", sans-serif;
    font-size: 75px;
    letter-spacing: 10px;
    margin:15px;
}
 .index-mid-heading2{
 color: #034C53;
 margin: 30px;
 }
 .index-mid-pictures{
    display: flex;
    width: 100%;
 }
.pic1 > img {
    width: 100%;
}
.pic2 > img {
    width: 100%;
}
.pic1{
    position: relative;
}
.pic2{
    position: relative;
}
.content{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background:rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.6s;
}
.content:hover{
opacity: 1;
}

.content h3 {
    font-size:50px;
    color:#FFB22C;
}
.index-bottom{
    height: 100%;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #034C53;
    padding: 80px;
}
#bottom-para{
    font-size: 25px;
    font-family: "Montserrat", serif;
    color: #FFFFEC;
    font-weight: bold;
    text-align: center;
}

#favicon{
    margin-bottom: 95px;
}

ul{
    margin: 20px;
}
